* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #333333;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.banner {
  background-image: url("banner.jpg");
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.banner a {
  text-decoration: none;
  color: #ffff;
}

.wsp img {
  position: fixed;
  z-index: 3; /*No es necesario*/
  width: 60px;
  height: 58px;
  bottom: 8px;
  right: 25px;
}
