.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  /* grid-gap: 10px; Separacion filas y columnas por igual */
  /*esilos para separar filas y columnas por separado*/
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  text-align: center;
}
.item {
  border: 2px solid red;
}
/*Otra forma de posicionar un item*/
/* .item1 {
  grid-column: 3;
  grid-row: 2;
} */
