body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 5px;
  height: calc(100vh - 10px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); /* 2 filas de igual altura */
  /* espacio entre los elementos */
  gap: 10px;
}

.item {
  background-color: #ddd;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* cambia a 2 columnas */
    grid-template-rows: repeat(3, 1fr); /* cambia a 3 filas */
  }
}
