body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  /* grid-gap: 20px; */
  text-align: center;
  background-color: azure;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}
header {
  grid-column: 1/4;
  grid-row: 1;
  border: 2px solid greenyellow;
  padding: 10px;
}
aside {
  grid-row: 2;
  border-right: 3px solid black;
  padding: 10px;
}
article {
  grid-column: 2/4;
  grid-row: 2;
  border-left: 3px solid black;
  padding: 10px;
}

footer {
  grid-column: 1/4;
  grid-row: 3;
  border: 2px solid greenyellow;
  padding: 10px;
}
